@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/breakpoint";
@import "./base/normalise";
@import "./base/styles";
// @import "./components/page-header";
@import "./components/logo";
@import "./components/nav";
@import "./components/contacts";
@import "./components/hero";
@import "./components/description";
@import "./components/work";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/join";
@import "./components/subscribe";
@import "./components/modal";
@import "./components/checkbox";
@import "./components/card";
@import "./components/menu";
@import "./components/mobile-menu";

.nav {
  @media screen and (max-width: 767px) {
   padding-top: 16px;
  }
   @media screen and (min-width: 768px) and (max-width: 1199px){
    flex-wrap: wrap;
    margin: -5px;
    align-items: center;
  @include centeredFlex();
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    // align-items: center;
     }
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  padding-top: 60px;
  padding-bottom: 60px;
}
body {
  font-family: $accent-font;
  background-color: $second-color;
  font-size: $accent-font-size;
  color: $accent-font-color;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
// шпаргалки
// flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке)
// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
