.clients {
  @include desktop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  margin-bottom: 15px;
  font-weight: $accent-font-weight;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $accent-bacground-color;
  @include centeredFlex(block);
}
.clients__icon {
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  @include desktop {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  @include centeredFlex();
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item {
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @include desktop {
    width: calc((100% - 12 * 15px) / 4);
    margin: 15px;
  }
  width: calc((100% - 4 * 15px) / 2);
  @include centeredFlex();
  margin: 15px;
}
.clients__item:last-child {
  @include desktop {
    margin-right: 0;
  }
}
.clients__icon--item {
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    max-width: 226px;
  }
  @include desktop {
    width: 170px;
  }
  display: flex;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  cursor: pointer;
  fill: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: fill 250ms $cubic, border 250ms $cubic;
}
.clients__icon--item:hover {
  border: 1px solid $accent-color;
  fill: $accent-color;
  transition: fill 250ms $cubic, border 250ms $cubic;
}
