.contact__adress {
  font-style: normal;
  line-height: 1.71;
  color: $second-color;
}

.box__item:first-child {
  margin-top: 20px;
}

.box__item {
  margin-top: 8px;
}

.footer {
  background-color: $accent-bacground-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
@media screen and (min-width: 767px) {
display: flex;
align-items: baseline;
justify-content: center;
}
}