.join {
  margin-left: 70px;
}
.join__header {
  font-family: $accent-font;
  font-weight: 700;
  font-size: $accent-font-size;
  line-height: $accent-line-height;
  color: $second-color;
  text-transform: uppercase;
}
.join__icon {
  @include centeredFlex();
  @include centeredJustify();
  cursor: pointer;
  margin-top: 20px;
}
.footer__block {
  @include centeredFlex();
  @include centeredAlight(baseline);
}