.join {
  @media screen and (min-width: 767px) {
    margin-top: 0;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  margin-top: 60px;
}
.join__header {
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
  font-family: $accent-font;
  font-weight: 700;
  font-size: $accent-font-size;
  line-height: $accent-line-height;
  color: $second-color;
  text-transform: uppercase;
  @include centeredFlex();
  justify-content: center;
}
.join__icon {
  @include centeredFlex();
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}
.footer__block {
  @media screen and (min-width: 1200px) {
    @include centeredFlex();
    align-items: baseline;
    @include centeredAlight(baseline);
  }
}
