.nav__link--footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
.nav__logo {
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
  font-weight: $accent-font-weight;
  font-family: raleway;
  font-size: 24px;
  line-height: 1.17;
  color: $accent-color;
}
.nav__logo--color {
  color: $second-color;
}
.logo__position {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo {
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
  color: $accent-secondary-color;
  font-weight: $accent-font-weight;
  font-family: raleway;
  font-size: 24px;
  line-height: 1.17;
}
.logo.is-open {
  visibility: hidden;
}
