$accent-color: #2196f3;
$accent-secondary-color: #212121;
$accent-bacground-color: #2f303a;
$second-bacground-color: #f5f4fa;
$accent-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-font-weight: 700;
$second-font-weight: 500;
$accent-font-color: #757575;
$second-color: white;
$accent-font-size: 14px;
$secondary-font-size: 16px;
$accent-line-height: 1.14;
$accent-svg-fill: #AFB1B8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);